/*------------------------------------
  Avatar
------------------------------------*/

.u-avatar {
	width: 44px;
	height: 44px;
}

.u-sm-avatar {
	width: 32px;
	height: 32px;
}

.u-md-avatar {
	width: 64px;
	height: 64px;
}

.u-xl-avatar {
	width: 160px;
	height: 160px;
}